main {
    width: 65%;
    max-width: 1000px;
    min-width: 400px;
    margin: auto;

}

table, td {
    background-color: #f0fff8;
    border-collapse: collapse;
    border: solid 1px #80ced6;
    box-sizing: border-box;
    font-family: Montserrat, sans-serif;
    padding: 10px;
    margin: auto;
}

table {
    width: 100%;
}

p, ul {
    box-sizing: border-box;
    padding: 30px;
    border-radius: 10px;
    background-color: #f0fff8;
    border: solid 1px #80ced6;
    font-family: Montserrat, sans-serif;
}

h1, h3 {
    font-family: Montserrat, sans-serif;
    font-weight: 900;
}